# Gradle / Loom
.gradle/
build/
out/
runs/
remappedSrc/

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
.factorypath

# OS
.DS_Store
Thumbs.db

# Python bytecode z narzedzi w wandzz-mod/tools
__pycache__/
*.pyc
